<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.reqCan.home.title">Req Cans</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-req-can" [routerLink]="['/req-can/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.reqCan.home.createLabel">
            Create new Req Can
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="reqCans?.length === 0">
        <span jhiTranslate="App.reqCan.home.notFound">No reqCans found</span>
    </div>
    <div class="table-responsive" *ngIf="reqCans?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="candidatoNombre"><span jhiTranslate="App.reqCan.candidato">Candidato</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="requerimientoProyecto"><span jhiTranslate="App.reqCan.requerimiento">Requerimiento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estatusReqCanEstatus"><span jhiTranslate="App.reqCan.estatusReqCan">Estatus Req Can</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estatusReqCanRecMotivo"><span jhiTranslate="App.reqCan.estatusReqCanRec">Estatus Req Can Rec</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reqCan of reqCans ;trackBy: trackId">
                <td><a [routerLink]="['/req-can', reqCan.id, 'view' ]">{{reqCan.id}}</a></td>
                <td>
                    <div *ngIf="reqCan.candidatoId">
                        <a [routerLink]="['../candidato', reqCan.candidatoId , 'view' ]" >{{reqCan.candidatoNombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="reqCan.requerimientoId">
                        <a [routerLink]="['../requerimiento', reqCan.requerimientoId , 'view' ]" >{{reqCan.requerimientoProyecto}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="reqCan.estatusReqCanId">
                        <a [routerLink]="['../estatus-req-can', reqCan.estatusReqCanId , 'view' ]" >{{reqCan.estatusReqCanEstatus}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="reqCan.estatusReqCanRecId">
                        <a [routerLink]="['../estatus-req-can-rec', reqCan.estatusReqCanRecId , 'view' ]" >{{reqCan.estatusReqCanRecMotivo}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/req-can', reqCan.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/req-can', reqCan.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'req-can', { outlets: { popup: reqCan.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="reqCans?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
