<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-req-can-heading" jhiTranslate="App.reqCan.home.createOrEditLabel">Create or edit a Req Can</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.reqCan.candidato" for="field_candidato">Candidato</label>
                    <select class="form-control" id="field_candidato" name="candidato" formControlName="candidatoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="candidatoOption.id" *ngFor="let candidatoOption of candidatoes; trackBy: trackCandidatoById">{{candidatoOption.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.reqCan.requerimiento" for="field_requerimiento">Requerimiento</label>
                    <select class="form-control" id="field_requerimiento" name="requerimiento" formControlName="requerimientoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="requerimientoOption.id" *ngFor="let requerimientoOption of requerimientos; trackBy: trackRequerimientoById">{{requerimientoOption.proyecto}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.reqCan.estatusReqCan" for="field_estatusReqCan">Estatus Req Can</label>
                    <select class="form-control" id="field_estatusReqCan" name="estatusReqCan" formControlName="estatusReqCanId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="estatusReqCanOption.id" *ngFor="let estatusReqCanOption of estatusreqcans; trackBy: trackEstatusReqCanById">{{estatusReqCanOption.estatus}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.reqCan.estatusReqCanRec" for="field_estatusReqCanRec">Estatus Req Can Rec</label>
                    <select class="form-control" id="field_estatusReqCanRec" name="estatusReqCanRec" formControlName="estatusReqCanRecId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="estatusReqCanRecOption.id" *ngFor="let estatusReqCanRecOption of estatusreqcanrecs; trackBy: trackEstatusReqCanRecById">{{estatusReqCanRecOption.motivo}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
