<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="esqContRec">
            <h2><span jhiTranslate="App.esqContRec.detail.title">Esq Cont Rec</span> {{esqContRec.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.esqContRec.esquema">Esquema</span></dt>
                <dd>
                    <span>{{esqContRec.esquema}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/esq-cont-rec', esqContRec.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
