/* agreg-cand.component.scss */

mat-form-field {
    width: 100%;
    float: right;
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.example-chip-list {
    width: 100%;
}

h3 {
    padding-top: 10px;
    font-size: 27px;
    font-weight: bold;
}

.mat-button-toggle-checked {
    background-color: #f44336;
    color: white;
}

@media (max-width: 600px) {
    .botones-chicos {
        font-size: 16px;
    }
    .botones-chicos2 {
        font-size: 14px;
    }
    .botones-chicos3 {
        font-size: 15px;
    }
}

table,
.mat-paginator {
    width: 450px;
}

agm-map {
    width: 250px;
    height: 350px;
}

#mapa {
    width: 300px;
    height: 400px;
}

