

<div class="row">
    <div class="col-md-12" style="display: inline-block;">
        <div class="row">
            <div style="display: inline-block; padding-top: 0px; padding-right: 0px;">
                <h3>Detalle de requerimiento - {{requerimiento.id}}</h3>
            </div>
            <div class="col" style="display: inline-block; padding-left: 0px;padding-top: 13px;padding-left:25px;">
        <button type="button" id="cancel-save" class="btn gris" (click)="previousState()">
            <span style="color:black">Cancelar</span>
          </button>
                <button type="submit"
                        [routerLink]="['/requerimiento', requerimiento.id, 'edit']"
                        mat-raised-button color="warn">
                    <span class="d-none d-md-inline" >Editar</span>
                </button>
            </div>
        </div>
    </div>
</div>
<mat-tab-group>
    <mat-tab label="Datos generales">
        <br />
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default" style=" border-style: solid; border-width: 2px 2px 2px 2px;padding: 13px; border-color: #F2F2F2;border-radius: 20px;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4>Datos generales</h4>
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label">Fecha de alta</label><br>
                                <label class="form-label resultado" id="">{{requerimiento.fechaAlda | date: 'MMM dd, yyyy'}}</label>
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label">Fecha de resolucion</label><br>
                                <label class="form-label resultado" id="">{{requerimiento.fechaResolucion | date: 'MMM dd, yyyy'}}</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Reemplazo de:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id=""> {{requerimiento.remplazoDe}} </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Ejecutivo asignado:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">{{requerimiento.usuarioCreadorFirstName}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Reclutador asignado:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">{{requerimiento.usuarioAsignadoFirstName}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Estatus del requerimiento:</label>
                            </div>
                            <div class="col-sm-9">
                                    <label class="form-label resultado" id="">{{requerimiento.estatusRequerimientoEstatus}}
                                        </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Motivo de cierre del requerimiento:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">{{requerimiento.estatusReqCanMotivo}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Prioridad:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">{{requerimiento.prioridadPrioridad}}
                                    </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Tipo de solicitud:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">{{requerimiento.tipoSolicitudSolicitud}}
                                    </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Tipo de ingreso:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">{{requerimiento.tipoIngresoTipo}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Reemplazo de:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">{{requerimiento.remplazoDe}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Cuenta:</label>
                            </div>
                            <div class="col-sm-9">
                                    <label class="form-label resultado" id="">{{requerimiento.cuentaClave}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Subcuenta:</label>
                            </div>
                            <div class="col-sm-9">
                                    <label class="form-label resultado" id="">{{requerimiento.subCuentaClave}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Proyecto:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">{{requerimiento.proyecto}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Nombre de contacto:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">{{requerimiento.nombreContacto}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Tarifa / Sueldo neto:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">{{requerimiento.tarifaSueldoNet}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Base de tarifa / Base de sueldo neto:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">{{requerimiento.baseTarifaBase}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Prestaciones:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">{{requerimiento.prestaciones}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Esquema de contratación:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">{{requerimiento.esquemaContratacionEsquema}}
                                </label>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col">
                <div class="panel panel-default"
                style=" border-style: solid; border-width: 2px 2px 2px 2px;padding: 13px; border-color: #F2F2F2;border-radius: 20px;">
                    <h4>Datos del perfil</h4>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Perfil: </label>
                        </div>
                        <div class="col-sm-9">
                            <label class="form-label resultado" id="">{{requerimiento.perfilPerfil}}
                                </label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Nivel de perfil: </label>
                        </div>
                        <div class="col-sm-9">
                            <label class="form-label resultado" id="">{{requerimiento.nivelPerfilNivel}}
                            </label>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Duración de asignación: </label>
                        </div>
                        <div class="col-sm-9">
                            <label class="form-label resultado" id="">{{requerimiento.duracionAsignacion}}</label>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Tipo de período: </label>
                        </div>
                        <div class="col-sm-9">
                            <label class="form-label resultado" id="">{{requerimiento.tipoPeriodoPeriodo}}
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Lugar de trabajo: </label>
                        </div>
                        <div class="col-sm-9">
                            <label class="form-label resultado" id="">{{requerimiento.lugarTrabajo}}</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Horario: </label>
                        </div>
                        <div class="col-sm-9">
                            <label class="form-label resultado" id="">{{requerimiento.horario}}</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Información del examen: </label>
                        </div>
                        <div class="col-sm-9">
                            <label class="form-label resultado" id="">{{requerimiento.informacionExamen}}
              </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Información adicional: </label>
                        </div>
                        <div class="col-sm-9">
                            <label class="form-label resultado" id="">{{requerimiento.informacionAdicional}}
              </label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Ubicación</h4>
                        </div>
                        <div class="col-sm-12" style="padding-right: 0px;">
                            <div class="google-maps" id="mapa">
                                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16">
                                    <agm-marker
                                    [latitude]="lat"
                                    [longitude]="lng"
                                    [label]="'KODE'">
                                    </agm-marker>
                                </agm-map>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="panel panel-default" style=" border-style: solid; border-width: 2px 2px 2px 2px;padding: 13px; border-color: #F2F2F2;border-radius: 20px;">
                    <h4>Skills solictados del requerimiento</h4>
                    <br />
                    <label class="form-label">Skills esenciales:</label>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul>
                                <li class="resultado-lista">Java</li>
                                <li class="resultado-lista">Spring MVC</li>
                                <li class="resultado-lista">Angular</li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <label class="form-label">Skills requeridos:</label>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul>
                                <li class="resultado-lista">Hibernate</li>
                                <li class="resultado-lista">Oracle</li>
                                <li class="resultado-lista">JQuery</li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <label class="form-label">Skills opcionales:</label>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul>
                                <li class="resultado-lista">Maven</li>
                                <li class="resultado-lista">Git</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </mat-tab>
    <mat-tab label="Estadística">
        <br />
        <div class="row">
            <div class="col">
                <div class="panel panel-default" style=" border-style: solid; border-width: 2px 2px 2px 2px;padding: 13px; border-color: #F2F2F2;border-radius: 20px;">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Estadísticas del requerimiento</h4>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="form-label">Vacantes solicitadas: </label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">
                                {{requerimiento.vacantesSolicitadas}}
              </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <label class="form-label">Vacantes cubiertas:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">
                  5
              </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <label class="form-label">Vacantes pendientes:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">2</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <label class="form-label">Candidatos enviados:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">4</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <label class="form-label">Candidatos en consideración:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">5</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <label class="form-label">Candidatos entrevistados:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">4</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <label class="form-label">Fecha de último envío de CV:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">3</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <label class="form-label">Fecha de última entrevista:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">22/07/2019</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="form-label">Días activo desde apertura:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">30</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="form-label">Monto de la oportunidad:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id=""></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="form-label">Sueldo neto deseado:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">$18000</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="form-label">Sueldo neto máximo:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">$17000</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </mat-tab>

    <mat-tab label="Tareas">
        <br />
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2" style="padding-right: 0px; ">
                        <div>
                            <h4 style="margin-bottom: 0px;padding-top: 5px; padding-right: 0px;">Tareas</h4>
                        </div>
                    </div>
                    <div class="col-sm-6" style="padding-left: 0px;">
                        <button mat-raised-button color="warn">Añadir Tarea</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 esp-arriba">
                <label class="label-material">Filtrar por:</label>
            </div>
            <div class="col-sm-12">
                <p>
                    <mat-button-toggle-group name="fontStyle" aria-label="Estilo de fuente" #group="matButtonToggleGroup">
                        <mat-button-toggle value="Todas"(click)="filtrarTareasTodas()"> Todas </mat-button-toggle>
                        <mat-button-toggle value="Abiertas" (click)="filtrarTareasAbiertas()"> Abiertas </mat-button-toggle>
                        <mat-button-toggle value="Cerradas"(click)="filtrarTareasCerradas()"> Cerradas </mat-button-toggle>
                    </mat-button-toggle-group>
                </p>
            </div>
        </div>
        <br />
    <div class="row">
        <div class="col-sm-12">
        <table mat-table class="mat-elevation-z8 table-hover" [dataSource]="dataSourceTarea2" matSort (matSortChange)="sortDataTarea($event)">
            Position Column
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 126px !important;">Id</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 104px !important;">Tarea</th>
                <td mat-cell *matCellDef="let element">{{ element.titulo }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="usuario_creador_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 141px !important;">Creador</th>
                <td mat-cell *matCellDef="let element">{{ element.usuarioCreadorFirstName }}</td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="usuario_ejecutor_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 143px !important;">Destinatario</th>
                <td mat-cell *matCellDef="let element">{{ element.usuarioEjecutorFirstName }}</td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="requerimiento_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 130px !important;">Fecha de alta</th>
                <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="estatus_tarea_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 130px !important;">Estatus</th>
                <td mat-cell *matCellDef="let element">{{ element.estatusTareaEstatus }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsTarea"></tr>
            <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumnsTarea" [ngClass]="{ even: even }"></tr>
        </table>

        <mat-paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 50]"
        [showFirstLastButtons]="true"></mat-paginator>
    </div>
</div>

    </mat-tab>
    <mat-tab label="Bitácora">
        <br />
        <div>
            <h2 id="page-heading">
                <h4>Bitácora</h4>
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bitacora" [routerLink]="['/bitacora/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span  jhiTranslate="App.bitacora.home.createLabel">
                    Create new Bitacora
                    </span>
                </button>
            </h2>
            <jhi-alert></jhi-alert>
            <br/>
            <!-- <div class="alert alert-warning" *ngIf="bitacora?.length === 0">
                <span jhiTranslate="App.bitacora.home.notFound">No bitacora found</span>
            </div>
            <div class="table-responsive" *ngIf="bitacora?.length > 0">
                <table class="table table-striped">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="fecha"><span jhiTranslate="App.bitacora.fecha">Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="comentario"><span jhiTranslate="App.bitacora.comentario">Comentario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="usuarioFirstName"><span jhiTranslate="App.bitacora.usuario">Usuario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="requerimientoProyecto"><span jhiTranslate="App.bitacora.requerimiento">Requerimiento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="candidatoNombre"><span jhiTranslate="App.bitacora.candidato">Candidato</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="tareaTitulo"><span jhiTranslate="App.bitacora.tarea">Tarea</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let bitacora of bitacora ;trackBy: trackId">
                        <td><a [routerLink]="['/bitacora', bitacora.id, 'view' ]">{{bitacora.id}}</a></td>
                        <td>{{bitacora.fecha | date:'medium'}}</td>
                        <td>{{bitacora.comentario}}</td>
                        <td>
                            {{bitacora.usuarioFirstName}}
                        </td>
                        <td>
                            <div *ngIf="bitacora.requerimientoId">
                                <a [routerLink]="['../requerimiento', bitacora.requerimientoId , 'view' ]" >{{bitacora.requerimientoProyecto}}</a>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="bitacora.candidatoId">
                                <a [routerLink]="['../candidato', bitacora.candidatoId , 'view' ]" >{{bitacora.candidatoNombre}}</a>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="bitacora.tareaId">
                                <a [routerLink]="['../tarea', bitacora.tareaId , 'view' ]" >{{bitacora.tareaTitulo}}</a>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/bitacora', bitacora.id, 'view' ]"
                                        class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/bitacora', bitacora.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', 'bitacora', { outlets: { popup: bitacora.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div [hidden]="bitacora?.length === 0">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div> -->
        </div>

    </mat-tab>
</mat-tab-group>
