<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.fuenteReclutamiento.home.title">Fuente Reclutamientos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fuente-reclutamiento" [routerLink]="['/fuente-reclutamiento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.fuenteReclutamiento.home.createLabel">
            Create new Fuente Reclutamiento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="fuenteReclutamientos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fuente"><span jhiTranslate="App.fuenteReclutamiento.fuente">Fuente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fuenteReclutamiento of fuenteReclutamientos ;trackBy: trackId">
                <td><a [routerLink]="['/fuente-reclutamiento', fuenteReclutamiento.id, 'view' ]">{{fuenteReclutamiento.id}}</a></td>
                <td>{{fuenteReclutamiento.fuente}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/fuente-reclutamiento', fuenteReclutamiento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/fuente-reclutamiento', fuenteReclutamiento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'fuente-reclutamiento', { outlets: { popup: fuenteReclutamiento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="fuenteReclutamientos && fuenteReclutamientos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
