/* agreg-cand.component.scss */

  
.espaciado-componentes{
    padding-left: 9px !important;
    padding-bottom: 9px !important;
  }

  td{
    margin-bottom: 0px !important;
    font-size: 13px;
  }

  label.form-label{
    margin-bottom: 0px !important;
    font-size: 13px;
  }
  h2{
    font-size:  2.7rem;
    font-weight: bold; 
  }
  div.col-sm-4{
    padding-bottom: -10px !important;
  }
  h4{
    font-weight: bold;
    font-size: 20px;
  }
  h5{
    font-weight: bold;
    font-size: 15px;
  }
  mat-form-field{
    width: 100%;
    float:right;
  }
  .esp-arriba{
    padding-top: 20px !important;
  }
  .esp-abajo{
    padding-bottom: 20px !important;
  }
  .btn-danger{
    font-size: 13px;
    color:white;
  }
.google-maps {
  position: relative;
  padding-bottom: 75%; 
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
  .example-chip-list {
    width: 100%;
  }


  h3{
    padding-top: 10px;
    font-size: 27px;
    font-weight: bold;
  }
  .mat-button-toggle-checked {
    background-color:rgba(255,0,0,0.6);
    color:white;
  }
  .mat-tab-body-content {
    overflow: hidden !important;
  }

  @media (max-width: 600px) {
    .botones-chicos{
      font-size: 16px;
    }
    .botones-chicos2{
      font-size: 14px;
    }
    .botones-chicos3{
      font-size: 15px;
    }
  }

  .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
   }

   table{
     width: 900px;
   }
   .mat-paginator {
    width: 900px !important;
   }