/* res-concand.component.scss */

.mat-button-toggle-checked {
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
}


/*Estilo de tabla*/

td.mat-cell,
td.mat-footer-cell {
    text-align: center !important;
}

.mat-sort-header-container,
.mat-header-cell {
    font-size: 15px !important;
    font-weight: bold !important;
}

table.mat-table {
    width: 100%;
}

.full-width {
    width: 100% !important;
}

.tabla-chica {
    width: 600px !important;
}

h4 {
    font-weight: bold;
    font-size: 20px;
}

.btn-danger {
    font-size: 13px;
}

td.mat-cell,
td.mat-footer-cell {
    text-align: center !important;
}

.mat-sort-header-container,
.mat-header-cell {
    font-size: 14px !important;
    font-weight: bold !important;
    padding-left: 37px !important;
}

table.mat-table {
    width: 100% !important;
}

th {
    color: rgba(0, 0, 0, .54) !important;
}

td {
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

thead {
    text-align: center;
    font-size: 15px;
}

tbody {
    text-align: center;
}

agm-map {
    width: 100% !important;
    height: 360px;
}