<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-skill-requerimiento-heading" jhiTranslate="App.skillRequerimiento.home.createOrEditLabel">Create or edit a Skill Requerimiento</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.skillRequerimiento.idRequerimiento" for="field_idRequerimiento">Id Requerimiento</label>
                    <select class="form-control" id="field_idRequerimiento" name="idRequerimiento" formControlName="idRequerimientoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="requerimientoOption.id" *ngFor="let requerimientoOption of requerimientos; trackBy: trackRequerimientoById">{{requerimientoOption.proyecto}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.skillRequerimiento.idSkill" for="field_idSkill">Id Skill</label>
                    <select class="form-control" id="field_idSkill" name="idSkill" formControlName="idSkillId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="skillOption.id" *ngFor="let skillOption of skills; trackBy: trackSkillById">{{skillOption.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.skillRequerimiento.tipoSkill" for="field_tipoSkill">Tipo Skill</label>
                    <select class="form-control" id="field_tipoSkill" name="tipoSkill" formControlName="tipoSkillId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tipoSkillOption.id" *ngFor="let tipoSkillOption of tiposkills; trackBy: trackTipoSkillById">{{tipoSkillOption.tipo}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
