/* agreg-req.component.scss */

.dropdown-options9 {
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
    display: inline-block;
    left: 0;
    bottom: 0;
    z-index: 1;
    font-size: 13px;
  }
  .dropdown-options9.open {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
            transform: scale(1) translate3d(0, 0, 0);
    z-index: 5;
  }
  .dropdown-options9 li {
    display: inline-block;
  }
  .dropdown-options9 li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 10.5px;
    color: black;
  }
  .dropdown-options9 li a:hover {
    color: #2975DA;
    background-color: #f44336;
    color: white;
  }
  .dropdown-options9 li a.active {
    border-bottom: 4px solid #f44336;
    color: black;
  }
  .dropdown-options9 li a.active:hover {
    border-bottom: 2px solid #f44336;
    color: white;
  }




  .dropdown .dropdown-options {
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
    display: inline-block;
    left: 0;
    bottom: 0;
    z-index: 1;
    font-size: 13px;
  }
  .dropdown .dropdown-options.open {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
            transform: scale(1) translate3d(0, 0, 0);
    z-index: 5;
  }
  .dropdown .dropdown-options li {
    display: inline-block;
  }
  .dropdown .dropdown-options li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 9.5px;
    color: black;
  }
  .dropdown .dropdown-options li a:hover {
    color: #2975DA;
    background-color: #ff5a5a;
    color: white;
  }
  .dropdown .dropdown-options li a.active {
    border-bottom: 4px solid #ff5a5a;
    color: black;
  }
  .dropdown .dropdown-options li a.active:hover {
    border-bottom: 2px solid #ff5a5a;
    color: white;
  }



.dropdown-options5 {
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
    display: inline-block;
    left: 0;
    bottom: 0;
    z-index: 1;
    font-size: 13px;
  }
  .dropdown-options5.open {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
            transform: scale(1) translate3d(0, 0, 0);
    z-index: 5;
  }
  .dropdown-options5 li {
    display: inline-block;
  }
  .dropdown-options5 li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: black;
  }
  .dropdown-options5 li a:hover {
    color: #2975DA;
    background-color: #ff5a5a;
    color: white;
  }
  .dropdown-options5 li a.active {
    border-bottom: 4px solid #ff5a5a;
    color: black;
  }
  .dropdown-options5 li a.active:hover {
    border-bottom: 2px solid #ff5a5a;
    color: white;
  }





  td{
    margin-bottom: 0px !important;
    font-size: 13px;
  }

  label.form-label{
    margin-bottom: 0px !important;
    font-size: 13px;
  }
  h2{
    font-size:  2.7rem;
    font-weight: bold;
  }
  div.col-sm-4{
    padding-bottom: -10px !important;
  }
  h4{
    font-weight: bold;
    font-size: 20px;
  }
  h5{
    font-weight: bold;
    font-size: 15px;
  }
  mat-form-field{
    width: 100%;
    float:right;
  }
  .esp-arriba{
    padding-top: 20px !important;
  }
  .esp-abajo{
    padding-bottom: 20px !important;
  }
  .btn-danger{
    font-size: 13px;
  }
.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
h3{
  padding-top: 10px;
  font-size: 27px;
  font-weight: bold;
}

.mat-button-toggle-checked {
  background-color:rgba(255,0,0,0.6);
  color:white;
}

.letra-med{
  font-size: 10px;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  padding: 0 0px !important;
}


@media (max-width: 600px) {
  .botones-chicos{
    font-size: 16px;
  }
  .botones-chicos2{
    font-size: 14px;
  }
  .botones-chicos3{
    font-size: 15px;
  }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
}
