<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.candidato.home.title">Candidatos</span>
        <button id="jh-create-entity" class="btn btn-danger float-right jh-create-entity create-candidato" [routerLink]="['/candidato/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.candidato.home.createLabel">
            Create new Candidato
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
</div>
<form role="form" (ngSubmit)="updateFilters()" [formGroup]="editForm">
    <div class="row">
        <div class="col-md-3 ">
            <p>
                <label class="label-material">
                    Estatus del candidato:
              </label>
                <br>
                <mat-button-toggle-group id="field_estatusCandId" formControlName="estatusCandId" name="estatusCand" aria-label="Estilo de fuente">
                    <mat-button-toggle *ngFor="let estatus of estatusCandidatos; trackBy: trackEstatusCandById" [value]="estatus.id"> {{estatus.estatus}} </mat-button-toggle>
                </mat-button-toggle-group>
            </p>
        </div>

        <div class="col-md-2 ">
            <div class="example-container">
                <mat-form-field class=" esp-arriba">
                    <input id="field_nombre" formControlName="nombre" name="nombre" matInput placeholder="Nombre">
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-2 ">
            <div class="example-container">
                <mat-form-field class=" esp-arriba">
                    <input formControlName="apellidoPaterno" matInput placeholder="Apellido paterno">
                </mat-form-field>
            </div>

        </div>
        <div class="col-md-2 ">
            <div class="example-container">
                <mat-form-field class=" esp-arriba">
                    <input formControlName="apellidoMaterno" matInput placeholder="Apellido materno">
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="example-container">
                <mat-form-field class=" esp-arriba">
                    <mat-select formControlName="reclutadorId" placeholder="Reclutador asignado">
                        <mat-option> Reclutador asignado </mat-option>
                        <mat-option *ngFor="let usuarios of usuariosAsignado" [value]="usuarios.id"> {{usuarios.login}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p>
                <label class="label-material">
              Estatus laboral:
            </label>
                <br>
                <mat-button-toggle-group formControlName="estatusLabId" name="fontStyle" aria-label="Estilo de fuente" class="botones-chicos">
                    <mat-button-toggle *ngFor="let estatusLaboral of estatusLaborales" [value]="estatusLaboral.id"> {{estatusLaboral.estatus}} </mat-button-toggle>
                </mat-button-toggle-group>
            </p>
        </div>
        <div class="col-md-2 ">
            <div class="example-container">
                <mat-form-field class=" esp-arriba">
                    <mat-select formControlName="esquemaContratacionId" placeholder="Esquema de contratación">
                        <mat-option> esquema de contratación </mat-option>
                        <mat-option *ngFor="let esquemaContratacion of esquemaContratacionKodes" [value]="esquemaContratacion.id"> {{esquemaContratacion.esquema}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-2 ">
            <div class="example-container">
                <mat-form-field class=" esp-arriba">
                    <mat-select formControlName="perfilId" placeholder="Perfil">
                        <mat-option>Perfil</mat-option>
                        <mat-option *ngFor="let perfiles of perfiles" [value]="perfiles.id"> {{perfiles.perfil}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-2 ">
            <div class="example-container">
                <mat-form-field class=" esp-arriba">
                    <mat-select formControlName="nivelPerfilId" placeholder="Nivel perfil">
                        <mat-option>Nivel perfil</mat-option>
                        <mat-option *ngFor="let nivelPerfil of nivelPerfiles" [value]="nivelPerfil.id"> {{nivelPerfil.nivel}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-2">
            <br>
            <button type="reset" (click)="clear()" class="btn gris"> Limpiar </button>
            <button mat-raised-button color="warn">Buscar</button>
            <br>
        </div>
    </div>

    <br>
</form>
<div>
    <div class="alert alert-warning" *ngIf="candidatoes?.length === 0">
        <span jhiTranslate="App.candidato.home.notFound">No candidatoes found</span>
    </div>
    <div class="table-responsive" *ngIf="candidatoes?.length > 0">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id">
                        ID
                    </th>
                    <th jhiSortBy="nombre">
                        Nombre
                    </th>
                    <th jhiSortBy="apellidoPaterno">
                        Apellido Paterno
                    </th>
                    <th jhiSortBy="apellidoMaterno">
                        Apellido Materno
                    </th>
                    <th jhiSortBy="telefonoCelular">
                        Telefono Celular
                    </th>
                    <th jhiSortBy="salarioNeto">
                        Salario Neto
                    </th>
                    <th jhiSortBy="costoTotal">
                        Costo Total
                    </th>
                    <th jhiSortBy="fechaAlta">
                        Fecha Alta
                    </th>
                    <th jhiSortBy="fechaUltimoSeguimiento">
                        Fecha Ultimo Seguimiento
                    </th>
                    <th jhiSortBy="disponibilidadEntrevistaPeriodoTiempoPeriodo">
                        Disponibilidad Entrevista Periodo Tiempo
                    </th>
                    <th jhiSortBy="disponibilidadAsignacionPeriodoTiempoPeriodo">
                        Disponibilidad Asignacion Periodo Tiempo
                    </th>
                    <th jhiSortBy="estatusCandidatoEstatus">
                        Estatus Candidato
                    </th>
                    <th jhiSortBy="perfilPerfil">
                        Perfil
                    </th>
                    <th jhiSortBy="nivelPerfilNivel">
                        Nivel Perfil
                    </th>
                    <th jhiSortBy="institucionAcademicaInstitucion">
                        Institución Académica
                    </th>
                    <th jhiSortBy="esquemaContratacionKodeEsquema">
                        Esquema Contratacion Kode
                    </th>
                    <th jhiSortBy="estatusLaboralEstatus">
                        Estatus Laboral
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let candidato of candidatoes ;trackBy: trackId">
                    <td><a [routerLink]="['/candidato', candidato.id, 'view' ]">{{candidato.id}}</a></td>
                    <td>{{candidato.nombre}}</td>
                    <td>{{candidato.apellidoPaterno}}</td>
                    <td>{{candidato.apellidoMaterno}}</td>
                    <td>{{candidato.telefonoCelular}} </td>
                    <td>{{candidato.salarioNeto}}</td>
                    <td>{{candidato.costoTotal}}</td>
                    <td>{{candidato.fechaAlta | date:'medium'}}</td>
                    <td>{{candidato.fechaUltimoSeguimiento | date:'medium'}}</td>
                    <td>{{candidato.disponibilidadEntrevistaPeriodo}} {{candidato.disponibilidadEntrevistaPeriodoTiempoPeriodo}}</td>
                    <td>{{candidato.disponibilidadAsignacionPeriodo}} {{candidato.disponibilidadAsignacionPeriodoTiempoPeriodo}}</td>
                    <td>{{candidato.estatusCandidatoEstatus}}</td>
                    <td>{{candidato.perfilPerfil}}</td>
                    <td>{{candidato.nivelPerfilNivel}}</td>
                    <td>{{candidato.institucionAcademicaInstitucion}}</td>
                    <td>{{candidato.esquemaContratacionKodeEsquema}}</td>
                    <td>{{candidato.estatusLaboralEstatus}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="candidatoes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>