<div class="row">
    <div class="col-md-12" style="display: inline-block;">
        <div class="row">
            <div style="display: inline-block; padding-top: 10px; padding-right: 0px;padding-left: 10px;">
                <h3 class="titulo">Consulta de Candidato</h3>
            </div>
            <div class="col" style="display: inline-block; padding-left: 0px;padding-top: 10px;padding-left:25px;">
                <a [routerLink]="['/candidato/new']">
                    <button mat-raised-button color="warn">Añadir nuevo candidato</button>
                </a>
            </div>
        </div>
    </div>
</div>
<jhi-alert></jhi-alert>
<form role="form" (ngSubmit)="updateFilters()" [formGroup]="editForm">
    <div class="row">
        <div class="col-3 ">
            <p>
                <label class="label-material">
                    Estatus del candidato:
              </label>
                <br>
                <mat-button-toggle-group id="field_estatusCandId" formControlName="estatusCandId" name="estatusCand" aria-label="Estilo de fuente">
                    <mat-button-toggle *ngFor="let estatus of estatusCandidatos; trackBy: trackEstatusCandById" [value]="estatus.id"> {{estatus.estatus}} </mat-button-toggle>
                </mat-button-toggle-group>
            </p>
        </div>

        <div class="col-2 ">
            <div class="example-container">
                <mat-form-field class=" esp-arriba">
                    <input id="field_nombre" formControlName="nombre" name="nombre" matInput placeholder="Nombre">
                </mat-form-field>
            </div>
        </div>
        <div class="col-2 ">
            <div class="example-container">
                <mat-form-field class=" esp-arriba">
                    <input formControlName="apellidoPaterno" matInput placeholder="Apellido paterno">
                </mat-form-field>
            </div>

        </div>
        <div class="col-2 ">
            <div class="example-container">
                <mat-form-field class=" esp-arriba">
                    <input formControlName="apellidoMaterno" matInput placeholder="Apellido materno">
                </mat-form-field>
            </div>
        </div>
        <div class="col-3 ">
            <div class="example-container">
                <mat-form-field class=" esp-arriba">
                    <mat-select formControlName="reclutadorId" placeholder="Reclutador asignado">
                        <mat-option> Reclutador asignado </mat-option>
                        <mat-option *ngFor="let usuarios of usuariosAsignado" [value]="usuarios.id"> {{usuarios.iniciales}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <p>
                <label class="label-material">
              Estatus laboral:
            </label>
                <br>
                <mat-button-toggle-group formControlName="estatusLabId" name="fontStyle" aria-label="Estilo de fuente" class="botones-chicos">
                    <mat-button-toggle *ngFor="let estatusLaboral of estatusLaborales" [value]="estatusLaboral.id"> {{estatusLaboral.estatus}} </mat-button-toggle>
                </mat-button-toggle-group>
            </p>
        </div>
        <div class="col-2 ">
            <div class="example-container">
                <mat-form-field class=" esp-arriba">
                    <mat-select formControlName="esquemaContratacionId" placeholder="Esquema de contratación">
                        <mat-option> esquema de contratación </mat-option>
                        <mat-option *ngFor="let esquemaContratacion of esquemaContratacionKodes" [value]="esquemaContratacion.id"> {{esquemaContratacion.esquema}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-2 ">
            <div class="example-container">
                <mat-form-field class=" esp-arriba">
                    <mat-select formControlName="perfilId" placeholder="Perfil">
                        <mat-option>Perfil</mat-option>
                        <mat-option *ngFor="let perfiles of perfiles" [value]="perfiles.id"> {{perfiles.perfil}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-2 ">
            <div class="example-container">
                <mat-form-field class=" esp-arriba">
                    <mat-select formControlName="nivelPerfilId" placeholder="Nivel perfil">
                        <mat-option>Nivel perfil</mat-option>
                        <mat-option *ngFor="let nivelPerfil of nivelPerfiles" [value]="nivelPerfil.id"> {{nivelPerfil.nivel}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-3">
            <br>
            <button type="reset" (click)="clear()" class="btn gris"> Limpiar </button>
            <button mat-raised-button color="warn">Buscar</button>
            <br>
        </div>
    </div>

    <br>
</form>
<div>
    <div class="alert alert-warning" *ngIf="candidatoes?.length === 0">
        <span jhiTranslate="App.candidato.home.notFound">No candidatoes found</span>
    </div>
    <div class="table-responsive" *ngIf="candidatoes?.length > 0">
        <table class="table table-striped" style="text-align: left !important;">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id">
                        <span>ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="estatusCandidatoEstatus">
                        <span>Estatus</span>

                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="nombre">
                        <span>Nombre</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="apellidoPaterno">
                        <span>Apell. Pat.</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="apellidoMaterno">
                        <span>Apell.Mat.</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="telefonoCelular">
                        <span>Celular</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="institucionAcademicaInstitucion">
                        <span>Reclutador</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="perfilPerfil">
                        <span>Perfil</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="nivelPerfilNivel">
                        <span>Nivel Perfil</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="fechaAlta">
                        <span>Fecha Alta</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="esquemaContratacionKodeEsquema">
                        <span>Esq. Cont.</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="salarioNeto">
                        <span>Sal. Neto</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="costoTotal">
                        <span>Costo Total</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="estatusLaboralEstatus">
                        <span>Est. Lab.</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="disponibilidadEntrevistaPeriodoTiempoPeriodo">
                        <span>Disp. Ent.</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="disponibilidadAsignacionPeriodoTiempoPeriodo">
                        <span> Disp. Asig.</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="fechaUltimoSeguimiento">
                        <span> Último Seg.</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let candidato of candidatoes ;trackBy: trackId">
                    <td><a [routerLink]="['/candidato', candidato.id, 'view' ]">{{candidato.id}}</a></td>
                    <td>{{candidato.estatusCandidatoEstatus}}</td>
                    <td>{{candidato.nombre}}</td>
                    <td>{{candidato.apellidoPaterno}}</td>
                    <td>{{candidato.apellidoMaterno}}</td>
                    <td>{{candidato.telefonoCelular}} </td>
                    <td>
                        {{this.buscarIniciales(candidato.usuarioAsignadoId)}}
                    </td>
                    <td>{{candidato.perfilPerfil}}</td>
                    <td>{{candidato.nivelPerfilNivel}}</td>
                    <td>{{candidato.fechaAlta.format('DD-MMM-YYYY')}}</td>
                    <td>{{candidato.esquemaContratacionKodeEsquema}}</td>
                    <td>
                        <div *ngIf="candidato.salarioNeto"> {{formatNumber(candidato.salarioNeto)}}</div>
                        <div *ngIf="!candidato.salarioNeto"> {{candidato.salarioNeto}}</div>
                    </td>
                    <td>
                        <div *ngIf="candidato.costoTotal"> {{formatNumber(candidato.costoTotal)}}</div>
                        <div *ngIf="!candidato.costoTotal"> {{candidato.costoTotal}}</div>
                    </td>
                    <td>{{candidato.estatusLaboralEstatus}}</td>
                    <td>
                        <div *ngIf="candidato.disponibilidadEntrevistaPeriodo">{{candidato.disponibilidadEntrevistaPeriodo}} {{candidato.disponibilidadEntrevistaPeriodoTiempoPeriodo}}(es)</div>
                        <div *ngIf="!candidato.disponibilidadEntrevistaPeriodo && candidato.disponibilidadEntrevistaFecha">{{candidato.disponibilidadEntrevistaFecha.format('DD-MMM-YYYY')}} </div>
                    </td>
                    <td>
                        <div *ngIf="candidato.disponibilidadAsignacionPeriodo">{{candidato.disponibilidadAsignacionPeriodo}} {{candidato.disponibilidadAsignacionPeriodoTiempoPeriodo}}(es)</div>
                        <div *ngIf="!candidato.disponibilidadAsignacionPeriodo && candidato.disponibilidadAsignacionFecha">{{candidato.disponibilidadAsignacionFecha.format('DD-MMM-YYYY')}} </div>
                    </td>
                    <td>
                        <div *ngIf="candidato.fechaUltimoSeguimiento">{{candidato.fechaUltimoSeguimiento.format('DD-MMM-YYYY')}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="candidatoes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
