<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="estatusLaboral">
            <h2><span jhiTranslate="App.estatusLaboral.detail.title">Estatus Laboral</span> {{estatusLaboral.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.estatusLaboral.estatus">Estatus</span></dt>
                <dd>
                    <span>{{estatusLaboral.estatus}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/estatus-laboral', estatusLaboral.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
