<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.tarea.home.title">Tareas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tarea" [routerLink]="['/tarea/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.tarea.home.createLabel">
            Create new Tarea
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tareas?.length === 0">
        <span jhiTranslate="App.tarea.home.notFound">No tareas found</span>
    </div>
    <div class="table-responsive" *ngIf="tareas?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descripcion"><span jhiTranslate="App.tarea.descripcion">Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="titulo"><span jhiTranslate="App.tarea.titulo">Titulo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="usuarioCreadorFirstName"><span jhiTranslate="App.tarea.usuarioCreador">Usuario Creador</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="usuarioEjecutorFirstName"><span jhiTranslate="App.tarea.usuarioEjecutor">Usuario Ejecutor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="requerimientoProyecto"><span jhiTranslate="App.tarea.requerimiento">Requerimiento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="candidatoNombre"><span jhiTranslate="App.tarea.candidato">Candidato</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estatusTareaEstatus"><span jhiTranslate="App.tarea.estatusTarea">Estatus Tarea</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoTareaTipo"><span jhiTranslate="App.tarea.tipoTarea">Tipo Tarea</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tarea of tareas ;trackBy: trackId">
                <td><a [routerLink]="['/tarea', tarea.id, 'view' ]">{{tarea.id}}</a></td>
                <td>{{tarea.descripcion}}</td>
                <td>{{tarea.titulo}}</td>
                <td>
                    {{tarea.usuarioCreadorFirstName}}
                </td>
                <td>
                    {{tarea.usuarioEjecutorFirstName}}
                </td>
                <td>
                    <div *ngIf="tarea.requerimientoId">
                        <a [routerLink]="['../requerimiento', tarea.requerimientoId , 'view' ]" >{{tarea.requerimientoProyecto}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tarea.candidatoId">
                        <a [routerLink]="['../candidato', tarea.candidatoId , 'view' ]" >{{tarea.candidatoNombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tarea.estatusTareaId">
                        <a [routerLink]="['../estatus-tarea', tarea.estatusTareaId , 'view' ]" >{{tarea.estatusTareaEstatus}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tarea.tipoTareaId">
                        <a [routerLink]="['../tipo-tarea', tarea.tipoTareaId , 'view' ]" >{{tarea.tipoTareaTipo}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tarea', tarea.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tarea', tarea.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'tarea', { outlets: { popup: tarea.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="tareas?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
