<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.candidato.home.title">Candidatoes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-candidato" [routerLink]="['/candidato/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.candidato.home.createLabel">
            Create new Candidato
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="candidatoes?.length === 0">
        <span jhiTranslate="App.candidato.home.notFound">No candidatoes found</span>
    </div>
    <div class="table-responsive" *ngIf="candidatoes?.length > 0">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id">
                        ID
                    </th>
                    <th jhiSortBy="nombre">
                        Nombre
                    </th>
                    <th jhiSortBy="apellidoPaterno">
                        Apellido Paterno
                    </th>
                    <th jhiSortBy="apellidoMaterno">
                        Apellido Materno
                    </th>
                    <th jhiSortBy="telefonoCelular">
                        Telefono Celular
                    </th>
                    <th jhiSortBy="salarioNeto">
                        Salario Neto
                    </th>
                    <th jhiSortBy="costoTotal">
                        Costo Total
                    </th>
                    <th jhiSortBy="fechaAlta">
                        Fecha Alta
                    </th>
                    <th jhiSortBy="fechaUltimoSeguimiento">
                        Fecha Ultimo Seguimiento
                    </th>
                    <th jhiSortBy="disponibilidadEntrevistaPeriodoTiempoPeriodo">
                        Disponibilidad Entrevista Periodo Tiempo
                    </th>
                    <th jhiSortBy="disponibilidadAsignacionPeriodoTiempoPeriodo">
                        Disponibilidad Asignacion Periodo Tiempo
                    </th>
                    <th jhiSortBy="estatusCandidatoEstatus">
                        Estatus Candidato
                    </th>
                    <th jhiSortBy="perfilPerfil">
                        Perfil
                    </th>
                    <th jhiSortBy="nivelPerfilNivel">
                        Nivel Perfil
                    </th>
                    <th jhiSortBy="institucionAcademicaInstitucion">
                        Institución Académica
                    </th>
                    <th jhiSortBy="esquemaContratacionKodeEsquema">
                        Esquema Contratacion Kode
                    </th>
                    <th jhiSortBy="estatusLaboralEstatus">
                        Estatus Laboral
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let candidato of candidatoes ;trackBy: trackId">
                    <td><a [routerLink]="['/candidato', candidato.id, 'view' ]">{{candidato.id}}</a></td>
                    <td>{{candidato.nombre}}</td>
                    <td>{{candidato.apellidoPaterno}}</td>
                    <td>{{candidato.apellidoMaterno}}</td>
                    <td>{{candidato.telefonoCelular}} </td>
                    <td>{{candidato.salarioNeto}}</td>
                    <td>{{candidato.costoTotal}}</td>
                    <td>{{candidato.fechaAlta | date:'medium'}}</td>
                    <td>{{candidato.fechaUltimoSeguimiento | date:'medium'}}</td>
                    <td>{{candidato.disponibilidadEntrevistaPeriodo}} {{candidato.disponibilidadEntrevistaPeriodoTiempoPeriodo}}</td>
                    <td>{{candidato.disponibilidadAsignacionPeriodo}} {{candidato.disponibilidadAsignacionPeriodoTiempoPeriodo}}</td>
                    <td>{{candidato.estatusCandidatoEstatus}}</td>
                    <td>{{candidato.perfilPerfil}}</td>
                    <td>{{candidato.nivelPerfilNivel}}</td>
                    <td>{{candidato.institucionAcademicaInstitucion}}</td>
                    <td>{{candidato.esquemaContratacionKodeEsquema}}</td>
                    <td>{{candidato.estatusLaboralEstatus}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="candidatoes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
