/* res-conreq.component.scss */

.mat-button-toggle-checked {
    background-color: #f44336;
    color: white;
}

// .google-maps {
//   position: relative !important;
//   height: 0 !important;
//   overflow: hidden !important;
//   width: 100% !important;
//   height: 100% !important;
// }
// .google-maps iframe {
//   position: absolute !important;
//   top: 0 !important;
//   left: 0 !important;
// }
agm-map {
  width: 100% !important;
  height: 360px;
}
