<h3>Detalle de requerimiento - 1924</h3>
<mat-tab-group>
    <mat-tab label="Datos generales">
        <br>
        <div class="row">
            <div class="col">
                <div class="panel panel-default"
                    style=" border-style: solid; border-width: 2px 2px 2px 2px;padding: 13px; border-color: #F2F2F2;border-radius: 20px;">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-8">
                                <h4>Datos generales</h4>
                            </div>
                            <div class="col-sm-4">
                                <label class="form-label">Fecha de alta</label><br>
                                <label class="form-label resultado" id="">20/01/2019</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Ejecutivo asignado:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">Mayte Barnard Esparza</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Reclutador asignado:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">Gabriela Cruz Escobar</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Estatus del requerimiento:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">Abierto</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Motivo de cierre del requerimiento:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">Requerimiento cubierto por terceros</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Prioridad:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">Alta</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Tipo de solicitud:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">Reclutamiento</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Tipo de ingreso:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">Reemplazo</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Reemplazo de:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">Pedro Paramo Márquez</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Cuenta:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">Capgemini</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Subcuenta:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">Bancomer</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Proyecto:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">SETI</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Nombre de contacto:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">Carlos Alberto Ramirez Archundia</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Tarifa / Sueldo neto:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">$45,000.00</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Base de tarifa / Base de sueldo neto:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">Mensual</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="form-label">Prestaciones:</label>
                            </div>
                            <div class="col-sm-9">
                                <label class="form-label resultado" id="">Comedor y vacaciones. </label>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col">
                <div class="panel panel-default"
                    style=" border-style: solid; border-width: 2px 2px 2px 2px;padding: 13px; border-color: #F2F2F2;border-radius: 20px;">
                    <h4>Datos del perfil</h4>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Perfil: </label>
                        </div>
                        <div class="col-sm-9">
                            <label class="form-label resultado" id="">Java</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Nivel de perfil: </label>
                        </div>
                        <div class="col-sm-9">
                            <label class="form-label resultado" id="">Semi Sr</label>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Duración de asignación: </label>
                        </div>
                        <div class="col-sm-9">
                            <label class="form-label resultado" id="">6</label>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Tipo de período: </label>
                        </div>
                        <div class="col-sm-9">
                            <label class="form-label resultado" id="">Meses</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Lugar de trabajo: </label>
                        </div>
                        <div class="col-sm-9">
                            <label class="form-label resultado" id="">Periférico Sur</label>
                        </div>
                    </div>

                    <br>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="google-maps">
                                <iframe frameborder="0" height="450"
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12698.017302765014!2d-5.924386855443038!3d37.28317952472348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd12705c945f7355%3A0x1f6735c306757c59!2sDos+Hermanas%2C+Sevilla%2C+Espa%C3%B1a!5e0!3m2!1ses!2s!4v1387797719272"
                                    style="border:0" width="600"></iframe>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Horario: </label>
                        </div>
                        <div class="col-sm-9">
                            <label class="form-label resultado" id="">De 9 am a 6 pm</label>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Información del examen: </label>
                        </div>
                        <div class="col-sm-9">
                            <label class="form-label resultado" id="">Lorem ipsum dolor sit amet, maiores ornare ac
                                fermentum,
                                imperdiet ut
                                vivamus a, nam lectus at nunc. Quam euismod sem, semper ut potenti pellentesque
                                quisque. In
                                eget sapien sed, sit duis vestibulum ultricies, placerat morbi amet vel, </label>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Información adicional: </label>
                        </div>
                        <div class="col-sm-9">
                            <label class="form-label resultado" id="">Lorem ipsum dolor sit amet, maiores ornare ac
                                fermentum,
                                imperdiet ut
                                vivamus a, nam lectus at nunc. Quam euismod sem, semper ut potenti pellentesque
                                quisque. In
                                eget sapien sed, sit duis vestibulum ultricies, placerat morbi amet vel, </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br>
    </mat-tab>
    <mat-tab label="Estadística">
        <br>
        <div class="row">
            <div class="col">
                <div class="panel panel-default"
                    style=" border-style: solid; border-width: 2px 2px 2px 2px;padding: 13px; border-color: #F2F2F2;border-radius: 20px;">

                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Estadísticas del requerimiento</h4>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Vacantes solicitadas: </label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">3</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Vacantes cubiertas:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">1</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Vacantes pendientes:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">2</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Candidatos enviados:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">4</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Candidatos en consideración:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">4</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Candidatos entrevistados:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">2</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Fecha de último envío de CV:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">01-Enero-2019</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Fecha de última entrevista:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">04-Enero-2019</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Días activo desde apertura:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">30</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Monto de la oportunidad:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">$90,000.00</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Sueldo neto deseado:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">$29,000.00</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="form-label">Sueldo neto máximo:</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="form-label resultado" id="">$90,000.00</label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="panel panel-default"
                    style=" border-style: solid; border-width: 2px 2px 2px 2px;padding: 13px; border-color: #F2F2F2;border-radius: 20px;">
                    <h4>Skills solictados del requerimiento</h4>
                    <br>
                    <h5 class="subtitulo">Skills esenciales:</h5>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul>
                                <li>Java</li>
                                <li>Spring MVC</li>
                                <li>Angular</li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <h5 class="subtitulo">Skills requeridos:</h5>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul>
                                <li>Hibernate</li>
                                <li>Oracle</li>
                                <li>JQuery</li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <h5 class="subtitulo">Skills opcionales:</h5>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul>
                                <li>Maven</li>
                                <li>Git</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </mat-tab>



    <mat-tab label="Tareas">
        <br>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2" style="padding-right: 0px; ">
                        <div>
                            <h4 style="margin-bottom: 0px;padding-top: 5px; padding-right: 0px;">Tareas</h4>
                        </div>
                    </div>
                    <div class="col-sm-6" style="padding-left: 0px;">
                        <button mat-raised-button color="warn">Añadir Tarea </button>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 esp-arriba">
                <label class="form-label">
                    <h5>Filtrar por:</h5>
                </label>
            </div>
            <div class="col-sm-12">
                <p>
                    <mat-button-toggle-group name="fontStyle" aria-label="Estilo de fuente">
                        <mat-button-toggle value="bold"> Todos </mat-button-toggle>
                        <mat-button-toggle value="cursiva"> Abierto </mat-button-toggle>
                        <mat-button-toggle value="underline"> Cerrado </mat-button-toggle>
                    </mat-button-toggle-group>
                </p>
            </div>
        </div>
        <br>
        <div>
            <table mat-table class="mat-elevation-z8" [dataSource]="dataSourceTarea" matSort
                (matSortChange)="sortDataTarea($event)">
                <!-- Position Column -->
                <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Tarea">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tarea </th>
                    <td mat-cell *matCellDef="let element"> {{element.Tarea}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="Creador">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Creador </th>
                    <td mat-cell *matCellDef="let element"> {{element.Creador}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="Destinatario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Destinatario </th>
                    <td mat-cell *matCellDef="let element"> {{element.Destinatario}} </td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="FechaAlta">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Alta </th>
                    <td mat-cell *matCellDef="let element"> {{element.FechaAlta}} </td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="Estatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
                    <td mat-cell *matCellDef="let element"> {{element.Estatus}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsTarea"></tr>
                <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumnsTarea;" [ngClass]="{even: even}"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[100, 200, 300, 500]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-tab>
    <mat-tab label="Bitácora">
        <br>
        <div class="row">
            <div class="col-sm-6">
                <h4>Bitácora</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-11 esp-arriba">
                <input type="text" name="estatusTarea" id="estatusTarea" class="form-control" style="width:100%" />
            </div>
            <div class="col-sm-1  esp-arriba">
                <button mat-raised-button color="warn">Añadir Bitácora </button>
            </div>
        </div>
        <br><br>
        <div>
            <table mat-table class="mat-elevation-z8" [dataSource]="dataSourceBitacora" matSort
                (matSortChange)="sortDataBitacora($event)">
                <!-- Position Column -->
                <ng-container matColumnDef="Fecha">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                    <td mat-cell *matCellDef="let element2"> {{element2.Fecha}} </td>
                </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="Creador">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Creador </th>
                    <td mat-cell *matCellDef="let element2"> {{element2.Creador}} </td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="Comentario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Comentario </th>
                    <td mat-cell *matCellDef="let element2"> {{element2.Comentario}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsBitacora"></tr>
                <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumnsBitacora;" [ngClass]="{even: even}"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[100, 200, 300, 500]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-tab>
</mat-tab-group>
