<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.requerimiento.home.title">Requerimientos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-requerimiento" [routerLink]="['/requerimiento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.requerimiento.home.createLabel">
            Create new Requerimiento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="requerimientos?.length === 0">
        <span jhiTranslate="App.requerimiento.home.notFound">No requerimientos found</span>
    </div>
    <div class="table-responsive" *ngIf="requerimientos?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaAlda"><span jhiTranslate="App.requerimiento.fechaAlda">Fecha Alda</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaResolucion"><span jhiTranslate="App.requerimiento.fechaResolucion">Fecha Resolucion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remplazoDe"><span jhiTranslate="App.requerimiento.remplazoDe">Remplazo De</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vacantesSolicitadas"><span jhiTranslate="App.requerimiento.vacantesSolicitadas">Vacantes Solicitadas</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="proyecto"><span jhiTranslate="App.requerimiento.proyecto">Proyecto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombreContacto"><span jhiTranslate="App.requerimiento.nombreContacto">Nombre Contacto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tarifaSueldoNet"><span jhiTranslate="App.requerimiento.tarifaSueldoNet">Tarifa Sueldo Net</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prestaciones"><span jhiTranslate="App.requerimiento.prestaciones">Prestaciones</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="duracionAsignacion"><span jhiTranslate="App.requerimiento.duracionAsignacion">Duracion Asignacion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lugarTrabajo"><span jhiTranslate="App.requerimiento.lugarTrabajo">Lugar Trabajo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="coorLat"><span jhiTranslate="App.requerimiento.coorLat">Coor Lat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="coorLong"><span jhiTranslate="App.requerimiento.coorLong">Coor Long</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="horario"><span jhiTranslate="App.requerimiento.horario">Horario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="informacionExamen"><span jhiTranslate="App.requerimiento.informacionExamen">Informacion Examen</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="informacionAdicional"><span jhiTranslate="App.requerimiento.informacionAdicional">Informacion Adicional</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cuentaClave"><span jhiTranslate="App.requerimiento.cuenta">Cuenta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="subCuentaClave"><span jhiTranslate="App.requerimiento.subCuenta">Sub Cuenta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="usuarioCreadorFirstName"><span jhiTranslate="App.requerimiento.usuarioCreador">Usuario Creador</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="usuarioAsignadoFirstName"><span jhiTranslate="App.requerimiento.usuarioAsignado">Usuario Asignado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estatusRequerimientoEstatus"><span jhiTranslate="App.requerimiento.estatusRequerimiento">Estatus Requerimiento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prioridadPrioridad"><span jhiTranslate="App.requerimiento.prioridad">Prioridad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoSolicitudSolicitud"><span jhiTranslate="App.requerimiento.tipoSolicitud">Tipo Solicitud</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoIngresoTipo"><span jhiTranslate="App.requerimiento.tipoIngreso">Tipo Ingreso</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="baseTarifaBase"><span jhiTranslate="App.requerimiento.baseTarifa">Base Tarifa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="esquemaContratacionEsquema"><span jhiTranslate="App.requerimiento.esquemaContratacion">Esquema Contratacion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="perfilPerfil"><span jhiTranslate="App.requerimiento.perfil">Perfil</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nivelPerfilNivel"><span jhiTranslate="App.requerimiento.nivelPerfil">Nivel Perfil</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estatusReqCanMotivo"><span jhiTranslate="App.requerimiento.estatusReqCan">Estatus Req Can</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoPeriodoPeriodo"><span jhiTranslate="App.requerimiento.tipoPeriodo">Tipo Periodo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let requerimiento of requerimientos ;trackBy: trackId">
                <td><a [routerLink]="['/requerimiento', requerimiento.id, 'view' ]">{{requerimiento.id}}</a></td>
                <td>{{requerimiento.fechaAlda | date:'medium'}}</td>
                <td>{{requerimiento.fechaResolucion | date:'medium'}}</td>
                <td>{{requerimiento.remplazoDe}}</td>
                <td>{{requerimiento.vacantesSolicitadas}}</td>
                <td>{{requerimiento.proyecto}}</td>
                <td>{{requerimiento.nombreContacto}}</td>
                <td>{{requerimiento.tarifaSueldoNet}}</td>
                <td>{{requerimiento.prestaciones}}</td>
                <td>{{requerimiento.duracionAsignacion}}</td>
                <td>{{requerimiento.lugarTrabajo}}</td>
                <td>{{requerimiento.coorLat}}</td>
                <td>{{requerimiento.coorLong}}</td>
                <td>{{requerimiento.horario}}</td>
                <td>{{requerimiento.informacionExamen}}</td>
                <td>{{requerimiento.informacionAdicional}}</td>
                <td>
                    <div *ngIf="requerimiento.cuentaId">
                        <a [routerLink]="['../cuenta', requerimiento.cuentaId , 'view' ]" >{{requerimiento.cuentaClave}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="requerimiento.subCuentaId">
                        <a [routerLink]="['../cuenta', requerimiento.subCuentaId , 'view' ]" >{{requerimiento.subCuentaClave}}</a>
                    </div>
                </td>
                <td>
                    {{requerimiento.usuarioCreadorFirstName}}
                </td>
                <td>
                    {{requerimiento.usuarioAsignadoFirstName}}
                </td>
                <td>
                    <div *ngIf="requerimiento.estatusRequerimientoId">
                        <a [routerLink]="['../estatus-requerimiento', requerimiento.estatusRequerimientoId , 'view' ]" >{{requerimiento.estatusRequerimientoEstatus}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="requerimiento.prioridadId">
                        <a [routerLink]="['../prioridad-req', requerimiento.prioridadId , 'view' ]" >{{requerimiento.prioridadPrioridad}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="requerimiento.tipoSolicitudId">
                        <a [routerLink]="['../tipo-solicitud', requerimiento.tipoSolicitudId , 'view' ]" >{{requerimiento.tipoSolicitudSolicitud}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="requerimiento.tipoIngresoId">
                        <a [routerLink]="['../tipo-ingreso', requerimiento.tipoIngresoId , 'view' ]" >{{requerimiento.tipoIngresoTipo}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="requerimiento.baseTarifaId">
                        <a [routerLink]="['../base-tarifa', requerimiento.baseTarifaId , 'view' ]" >{{requerimiento.baseTarifaBase}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="requerimiento.esquemaContratacionId">
                        <a [routerLink]="['../esq-cont-rec', requerimiento.esquemaContratacionId , 'view' ]" >{{requerimiento.esquemaContratacionEsquema}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="requerimiento.perfilId">
                        <a [routerLink]="['../perfil', requerimiento.perfilId , 'view' ]" >{{requerimiento.perfilPerfil}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="requerimiento.nivelPerfilId">
                        <a [routerLink]="['../nivel-perfil', requerimiento.nivelPerfilId , 'view' ]" >{{requerimiento.nivelPerfilNivel}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="requerimiento.estatusReqCanId">
                        <a [routerLink]="['../est-req-cerrado', requerimiento.estatusReqCanId , 'view' ]" >{{requerimiento.estatusReqCanMotivo}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="requerimiento.tipoPeriodoId">
                        <a [routerLink]="['../tipo-periodo', requerimiento.tipoPeriodoId , 'view' ]" >{{requerimiento.tipoPeriodoPeriodo}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/requerimiento', requerimiento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/requerimiento', requerimiento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'requerimiento', { outlets: { popup: requerimiento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="requerimientos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
