.titulo {
    padding-top: 2px !important;
}

.agm-map {
    width: 100% !important;
    height: 500px !important;
}

.example-container {
    display: flex;
    flex-direction: column;
}

h3 {
    padding-top: 10px;
    font-size: 27px;
    font-weight: bold;
}

.mat-button-toggle-checked {
    background-color: #f44336;
    color: white;
}

@media (max-width: 600px) {
    .botones-chicos {
        font-size: 12.6px;
    }
}

.mat-paginator {
    width: 450px;
}

td.mat-cell,
td.mat-footer-cell {
    text-align: center !important;
}

.mat-sort-header-container,
.mat-header-cell {
    font-size: 15px !important;
    font-weight: bold !important;
    padding-left: 37px !important;
}

table.mat-table {
    width: 100% !important;
}

th {
    color: rgba(0, 0, 0, .54) !important;
}

td {
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

thead {
    text-align: center;
    font-size: 13px;
}

tbody {
    text-align: center;
}
