<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.permisoAuthority.home.title">Permiso Authorities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-permiso-authority" [routerLink]="['/permiso-authority/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.permisoAuthority.home.createLabel">
            Create new Permiso Authority
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="permisoAuthorities?.length === 0">
        <span jhiTranslate="App.permisoAuthority.home.notFound">No permisoAuthorities found</span>
    </div>
    <div class="table-responsive" *ngIf="permisoAuthorities?.length > 0">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="authority"><span>Authority</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="activated"><span>Admin</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="deleted"><span>Requerimientos</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="createdBy"><span>Candidatos</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="createdBy"><span>Entidades</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- <form #f="ngForm" role="form" (ngSubmit)="save()" [formGroup]="editForm"> -->
                <tr *ngFor="let permisos of newArre; trackBy: trackId">
                    <!-- name -->
                    <td>
                        {{permisos.authority}}
                    </td>

                    <!-- admin -->
                    <td>
                        <label value="permisos.admin">
                        </label>
                        <mat-checkbox formControlName="admin" [(ngModel)]="permisos.actAdmin"></mat-checkbox>
                    </td>

                    <!-- req -->
                    <td>
                        <label value="permisos.requirements"></label>
                        <mat-checkbox formControlName="requirements" [(ngModel)]="permisos.actRequirements"></mat-checkbox>
                    </td>

                    <!-- cand -->
                    <td>
                        <label value="permisos.candidates"></label>
                        <mat-checkbox formControlName="candidates" [(ngModel)]="permisos.actCandidates"></mat-checkbox>
                    </td>

                    <!-- entity -->
                    <td>
                        <label value="permisos.entity"></label>
                        <mat-checkbox formControlName="entity" [(ngModel)]="permisos.actEntity"></mat-checkbox>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'save'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.save">Save</span>
                                </button>
                        </div>
                    </td>
                </tr>
                <!-- </form> -->
            </tbody>
        </table>
    </div>
    <div [hidden]="permisoAuthorities?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>